<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Patients</title>
</head>

<body>
    {% if username %}
    <p>Signed in as: {{ username }}</p>
    {% endif %}

    <h2>Your Patients</h2>

    {% if patients %}
        {% for patient in patients %}
        <div>
            <a href="/patient_table/{{patient.regNum}}" >
                <h3>{{ patient.firstName }} {{ patient.lastName }}</h3>
                <p> # {{ patient.regNum }}</p>
            </a>

        </div>
        {% endfor %}
    {% else %}
        <p>No patients saved yet.</p>
    {% endif %}

    <p><a href="/add-patient">Add patient</a></p>
    <form method="POST" action="/logout">
        <input type="submit" value="Log Out">
    </form>
</body>
</html>